body {
    margin: 3px;
}

.menu a.active {
    font-weight: bold;
    color: #000000;
    background: #CCCCCC;
}

#footer {
    font-family: monospace;
    color: #9F9F9F;
    font-size: smaller;
    text-align: right;
}

.visualClear {
    clear:both;
    height: 0px;
    line-height: 0px;
}